.row {
  display: grid;
  grid-template-columns: 110px 1fr repeat(4, 200px);

  &__cell {
    margin: 12px;
    cursor: pointer;
  }
  
  &__cell--header {
    color: var(--foreground-secondary);
  }

  &__input {
    padding: 10px;
    border: none;
    background: none;
    width: 100%;
    
    &:disabled {
      cursor: default;
      opacity: 1;
      color: inherit;
      pointer-events: none;
    }
    
    &:focus,
    &--editing {
      border-radius: 6px;
      color: var(--foreground-secondary);
      background: var(--background-primary);
      outline: 1px solid var(--accent);
      pointer-events: auto;
    }
  }
}

@media (max-width: 1224px) {
  .row {
    grid-template-columns: 80px 1fr repeat(4, 120px);
  }
}

@media (max-width: 768px) {
  .row {
    font-size: 12px;
  }
}
