.editor-group {
  display: flex;
  align-items: center;

  &__container {
    padding: 1px 4px 0 1px;
    display: flex;
    align-items: center;
    height: min-content;
    width: min-content;
    transition: background-color 0.2s ease;

    &:hover {
      border-radius: 6px;
      background-color: var(--accent);

      .editor-group__delete-button {
        opacity: 1;
      }
    }
  }

  &__button--loading {
    opacity: 0.6;
    pointer-events: none;
  }

  &__delete-button {
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  &__create-button {
    position: relative;
    z-index: 10;
  }

  &__create-button--child::after,
  &__create-button--child::before  {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -8px;
    width: 12px;
    height: 1px;
    background-color: var(--foreground);
    z-index: 1;
  }

  &__create-button--child::after {
    top: -46px;
    width: 1px;
    height: 60px;
  }
}
